@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

@import "tailwindcss";

@theme{

     --font-head : 'PT Serif', 'serif' ;
}

@theme{

     --font-fact : 'Smooch Sans', 'sans-serif' ;
}

@theme{

     --font-button : 'Google Sans', 'sans-serif' ;
}